$primaryColor:#a8edea;
$secondaryColor:#f07f84;
$tertiaryColor:#79dad6;
@import "partials/setup";
@import "partials/header";
@import "partials/about";
@import "partials/products";
@import "partials/testimonial";
@import "partials/blog";
@import "partials/subscription";
@import "partials/partners";
@import "partials/footer";


body {
	background:white;
	text-align:center;
	font-family:"Poppins";
	font-size:14px;
}

.wrapperFull {
	max-width:1920px;
	margin:0 auto;
}

.wrapper {
	max-width:1170px;
	margin:0 auto;
}

h1 {
	font-size:3.6rem;
	font-weight:500;
	margin:0;
	padding:0;
}

h2 {
	font-size:2.1rem;
	font-weight:500;
	letter-spacing: 1px;
	margin:0;
	padding: 11px;
}

h3 {
	font-size:1.5rem;
	font-weight: 400;
	color:black;
}

h4 {
	font-size:1.1rem;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}
